APP_NAME="Daedelus"
APP_ENV=development
APP_KEY=base64:kzBHCh0KocO41jbe4+IfP9PWgna+BDLI55I+U1qZkNQ=
APP_DEBUG=true
APP_URL=http://daedelus.local.host

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE="daedelus"
DB_USERNAME="root"
DB_PASSWORD="root"
DB_PREFIX="wp_"
DB_CHARSET="utf8mb4"

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

WP_MEMORY_LIMIT="64M"
WP_MAX_MEMORY_LIMIT="256M"

WP_CACHE=false

WP_USER="private"
WP_PASSWORD="password123456"
WP_EMAIL="private@yourwebsite.com"

AUTH_KEY="4f }RQt#1K5]/Qb`2>`*?7:tyT9=,`bTk<7|HixQ]aJ$/3<s)8T!f2?i3J:S)5x5"
SECURE_AUTH_KEY="_&mP#c|n[}L rovD=$(tU|Bn.>xBQn+*LE|~C~u#2r--pJBpC@vLi;Qc$D)3XhVm"
LOGGED_IN_KEY="O3s|;WqJ;#CN%})90y]FV6Y%l{L1,wNT{qOkWfc&=&mEA&+$X[ZXJTh* dv#j4I;"
NONCE_KEY="]r?pki{|)Gks~nz-.7`C;p}-8n)U])yh+#&P65@|ws =Xc#6Krj~-P!,7Lw^x(hL"
AUTH_SALT="^-hN:gb;:1wKdCSb{;|$We##<x+1RE*|=+[)sBV<Dami7P boOK/.bA/n.(d3IkU"
SECURE_AUTH_SALT="X2x-3n=TV6PyBD&{UtepB9Q$6|.S9:e.,,7[+|LFCW$7+4SPhh8+_CJolZCzjM(("
LOGGED_IN_SALT="M)|Hp3|PVL3Mld$hAp2wf;|+!+w-s*TUhZH&K|-@OgXq9vh9gO>N,mOl^e4p,uQ|"
NONCE_SALT="!YOFbO=nXR5j$RN9~D2iVQ3deK0rQKh(%c#T7K.,_08m^O4scA-ReppI5m~{_fU<"